.container{
    width: 800px;
    min-height: 300px;
    background-color: aqua;
    margin: auto;
    border: solid 3px brown;
    position: relative;
}

.menu{
    width: 800px;
    margin: auto;
    margin-top:20px;
}

.circle{
    width: 100px;
    height: 100px;
    border:solid 1px black;
    border-radius: 50%;
    background: rgb(19, 110, 58);
    position: absolute;
}

